	<main class="d-flex w-100">
		<div class="container d-flex flex-column">
			<div class="row vh-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">
						<div class="text-center mt-4">
							<h1 class="h2">Welcome back.</h1>
							<p class="lead">
								Log in to your account to continue
							</p>
						</div>
						<div class="card">
							<div class="card-body">
								<div class="m-sm-4">
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="mb-3">
                      <%= f.label :email, class: 'form-label' %>
                      <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control form-control-lg' %>
                    </div>
                    <div class="mb-3">
                      <%= f.label :password, class: 'form-label' %>
                      <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control form-control-lg' %>
                    </div>
                    <% if devise_mapping.rememberable? %>
                      <div class="mb-3 form-check">
                        <%= f.check_box :remember_me, class: 'form-check-input' %>
                        <%= f.label :remember_me, class: 'form-check-label' do %>
                          <%= resource.class.human_attribute_name('remember_me') %>
                        <% end %>
                      </div>
                    <% end %>
										<div class="text-center mt-3">
                      <%= f.submit  t('.sign_in'), class: 'btn btn-lg btn-primary' %>
                    </div>
                  <% end %>
								</div>
							</div>
						</div>
            <%= render 'devise/shared/links' %>
					</div>
				</div>
			</div>
		</div>
	</main>