<% if user_signed_in? %>
  <li class='nav-item'><%= link_to 'Connect Xero', "/auth/xero_oauth2?origin=#{organization.slug}", class: 'nav-link', method: :post %></li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <%= current_organization&.name || 'Workspaces' %>
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <% if current_organization && current_user.has_role?(:admin, current_organization) %>
        <li><%= link_to 'Manage Workspace', edit_organization_path, class: 'dropdown-item' %></li>
        <li><hr class="dropdown-divider"></li>
      <% end %>
      <% organizations = Pundit.policy_scope(current_user, Organization).order(:name) %>
      <% organizations.each do |organization | %>
      <li><%= link_to organization.name, organization_path(organization), class: "dropdown-item#{' active' if current_organization == organization}" %></li>
      <% end %>
      <% if organizations.present? %>
        <li><hr class="dropdown-divider"></li>
      <% end %>
      <li><%= link_to 'Add Workspace', new_organization_path, class: 'dropdown-item' %></li>
    </ul>
  </li>
  <li class='nav-item'><%= link_to 'Sign Out', destroy_user_session_path, method: 'delete', class: 'nav-link' %></li>
<% else %>
  <li class='nav-item'><%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %></li>
<% end %>
